body{
    padding-top: 80px;
	background-color:#eeeeee;
	list-style: none;
}
.dropdown-menu {
  min-width: 140px;
}
.carousel-inner {
	 border-radius: 20px;
}

#container1 {
	 border-radius: 20px;
}
.carousel-inner > .item > img {
  top: 0;
  left: 0;
  min-width: 100%;
  height: 280px;
}
.marketing{
	margin-top:30px;
	text-align:center;
	margin-bottom:30px;
}
.show-grid {
	padding-right:10px;
	padding-left:5px;
}
.container2{
  
  background-color:#FFFFFF;
  border-color: #E7E7E7;

  padding-top:10px;
  padding-bottom:10px;
  padding-right: 15px;
  padding-left: 10px;
  padding-left: 10px;
  
  margin-right: auto;
  margin-left: auto;
 
  margin-bottom:50px;
  
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.xts h2{
  text-align:center;
  color:#99cc00;
}
.xts p{
	padding-left:20px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:20px;
	font-size:22px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #e7e7e7;

}
.navbar {
  padding-left: 100px;
  min-height:20px;
  height:55px;
}
.navbar-brand {
 font-size:23px;
 font-weight:200;
  line-height: 20px;
  font-family:"幼圆";
 
}
.navbar-default .navbar-brand {
     color:#EEEE00
}

.show-grid [class^="col-"] {
background-color:#FFFFFF;
    border-color: #E7E7E7;
	
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:10px;
  margin-right:0px;
  margin-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  border: 1px solid #ddd;

  border: 1px solid rgba(86,61,124,.2);
}

  .col-md-1 {
    width: 8.333333333333332%;
  }
  .col-md-2 {
    width: 16.666666666666664%;
  }
  .col-md-3 {
    width: 25%;
	
  }
  .col-md-4 {
    width: 32%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-9 {
  padding-left:5px;
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-11 {
    width: 91.66666666666666%;
  }
  .col-md-12 {
    width: 100%;
  }
.subul{
	list-style:none;
}
.subul .divider {
  height: 2px;
  width:25%;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  margin-left:36px;
}
.subli{
	margin-left:40px;
	font-size:18px;
}
.headli{
	margin-left:20px;
	font-size:18px;
}
.tab-content{
	margin-top:30px;
	
}