<?xml version="1.0" encoding="utf-8"?>
<menus>
	<menu name="尤格尔鲜奶吧">
		<category type="奶类">
			<subcategory type="鲜奶">
				<item name="鲜奶">
					<price size="半斤">2.5</price>
					<price size="一斤">5.0</price>
				</item>
			</subcategory>
		
			<subcategory type="酸奶">
				<item name="原味酸奶">
					<price size="大">5.0</price>
					<price size="小">4.0</price>
				</item>
				<item name="搅拌酸奶">
					<price>5.0</price>
				</item>
				<item name="草莓果酱酸奶"> d
					<price size="大">6.0</price>
					<price size="小">5.0</price>
				</item>
				<item name="芒果果酱酸奶">
					<price size="大">6.0</price>
					<price size="小">5.0</price>
				</item>
				<item name="水蜜桃果酱酸奶">
					<price size="大">6.0</price>
					<price size="小">5.0</price>
				</item> 
			</subcategory>
		
			<subcategory type="奶茶">
				<item name="蓝莓奶茶">
					<price>8.0</price>
				</item> 
				<item name="芒果奶茶">
					<price>8.0</price>
				</item>
				<item name="水蜜桃奶茶">
					<price>8.0</price>
				</item>
			</subcategory>
		</category>
		
		<category type="冰制品类">
			<subcategory type="冰淇淋">
				<item name="原味冰淇淋">
					<price>5.0</price>
				</item>
				<item name="蓝莓冰淇淋">
					<price>5.0</price>
				</item>
				<item name="混合冰淇淋">
					<price>5.0</price>
				</item>
			</subcategory>
			
			<subcategory type="刨冰">
				<item name="草莓刨冰">
					<price>5.0</price>
				</item>
				<item name="芒果刨冰">
					<price>5.0</price>
				</item>
				<item name="水蜜桃刨冰">
					<price>5.0</price>
				</item>
			</subcategory>
		</category>
		
		<category type="小吃类">
			<subcategory type="奶酪">
				<item name="奶提子">
					<price>15.0</price>
				</item>
				<item name="马背奶干">
					<price size="大">25.0</price>
					<price size="小">20.0</price>
				</item>
			</subcategory>
			
			<subcategory type="汉堡">
				<item name="牛肉汉堡">
					<price>7.0</price>
				</item>
				<item name="鸡肉汉堡">
					<price>5.0</price>
				</item>
				<item name="鸡腿肉汉堡">
					<price>7.0</price>
				</item>
			</subcategory>
			
			<subcategory type="其它">
				<item name="烤肠">
					<price>3.0</price>
				</item>
				<item name="爆米花">
					<price>3.0</price>
				</item>
				<item name="蛋挞">
					<price>3.0</price>
				</item>
			</subcategory>
		</category>
		
	</menu>
</menus>